.my-meta-box .postbox .inside {
    margin: 0 !important;
    padding: 0 !important;
}

.container span {
    font-size: 16px;
    padding: 5px;
}

.tabs {
    margin: -6px -12px !important;
    padding: 0 0px;
}

#tab-button {
    display: table;
    table-layout: fixed;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#tab-button li {
    display: table-cell;
    width: 20%;
}

#tab-button li a {
    display: block;
    padding: .5em;
    background: #eee;
    border: 1px solid #ddd;
    text-align: center;
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

#tab-button li:not(:first-child) a {
    border-left: none;
}

#tab-button li a:hover,
#tab-button .is-active a {
    border-bottom-color: transparent;
    background: #fff;
}

.tab-contents {
    padding: .5em 2em 1em;
    border: 1px solid #ddd;
}



.tab-button-outer {
    display: none;
}

.tab-contents {
    margin-top: 20px;
}

@media screen and (min-width: 768px) {
    .tab-button-outer {
        position: relative;
        z-index: 2;
        display: block;
    }

    .tab-select-outer {
        display: none;
    }

    .tab-contents {
        position: relative;
        top: -1px;
        margin-top: 0;
    }
}

.tabs :focus {
    border-color: none !important;
    box-shadow: 0 0px 0px 0 !important;
    outline: 0 none !important;
}

/*toggle button*/
#my-meta-box .switch {
    vertical-align: baseline;
    margin: 0;
    position: relative;
    display: inline-block;
    width: 38px;
    height: 21px;
}

#my-meta-box .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#my-meta-box .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

#my-meta-box .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

#my-meta-box input:checked+.slider {
    background-color: #dc3545;
}

#my-meta-box input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

#my-meta-box input:checked+.slider:before {
    -webkit-transform: translateX(15px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}

/* Rounded sliders */
#my-meta-box .slider.round {
    border-radius: 34px;
}

#my-meta-box .slider.round:before {
    border-radius: 50%;
}

#my-meta-box .font {
    font-weight: 500;
}

::-webkit-file-upload-button {
  background: white;
  color: black;
  border: none;
  display: none;
}

.wp-admin input[type=file] {
    padding: 5px !important;
}
#my-meta-box .video_data
{
    width: 265px;
    height: 200px;
}
#my-meta-box .custom-file {
    height: 0px !important;
}